{
    "account": {
        "safe": "{{ cyberark_account_safename }}",
        "platformID": "{{ cyberark_account_platformid }}",
        "address": "{{ cyberark_account_address }}",
        "accountName": "{{ cyberark_account_name }}",
        "password": "{{ cyberark_account_secret }}",
        "username": "{{ cyberark_account_username }}",
        "deviceType": "{{ cyberark_account_devicetype }}",
        "policyID": "{{ cyberark_account_policyid }}",
        "location": "Singapore",
    }
}
