<table>
<html>

<table border="1">

<tr>
<th>Host</th>
<th>Available updates</th>
<th>List of advisories</th>
</tr>

{% for host in hostvars %}
<tr>

<td>
{{ host }}
</td>

<td>
{% for rpm in hostvars[host]['updated_rpms'] %}
{{ rpm[0] }}, {{ rpm[1] }}<br>
{% endfor %}
</td>

<td>
{{ hostvars[host]['updateinfo'].stdout.split('\n') | join('<br>') }}
</td>
</tr>

{% endfor %}

</table>
</html>
</table>