server {
    listen 80;
    server_name demo.ltsai.com;

    root /export/www;
    access_log /var/log/nginx/www.access.log;
    error_log  /var/log/nginx/www.error.log;

    location / {
        index index.html;
    }
}
