server {
    listen 80;
    server_name {{ floating_ip }};
    
    root {{ www_root_path }};
    access_log /var/log/nginx/www.access.log;
    error_log  /var/log/nginx/www.error.log;

    location / {
        index index.html;
    }
}
