STORAGE_DRIVER=overlay2
DEVS="{{ docker_storage_setup_devs | join(' ') }}"
VG="{{ docker_storage_setup_vg_name }}"
CONTAINER_ROOT_LV_NAME="{{ docker_storage_setup_lv_name }}"
CONTAINER_ROOT_LV_SIZE=100%FREE
CONTAINER_ROOT_LV_MOUNT_PATH=/var/lib/docker